GROQ_API_KEY=''
ELEVENLABS_API_KEY=''
ELEVENLABS_VOICE_ID=''
PINECONE_API_KEY=''
TOGETHER_504=''
WHATSAPP_TOKEN=''
WHATSAPP_PHONE_NUMBER_ID=''
WHATSAPP_VERIFY_TOKEN=''
COHERE_API_KEY=''
SHORT_TERM_MEMORY_DB_PATH=''